<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".activity_visualizacion"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity_pedidos"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_registro"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_InsertarHorario"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_admin_mesas"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_horarios"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity_Empleados"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_InsertarEmpleado"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Admin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_TomarNota"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_mesa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_servicio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_opciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>